/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
}

img {
  display: block;
  min-inline-size: 100%;
  block-size: auto;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  /* background: rgb(244, 133, 38); */
  background-color: #f4f4f4;
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  max-width: 600px;
  background: white;
  margin: 0 auto;
  padding: 50px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appTitle {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  font-weight: 500;
}

.schedule {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  color: #333;
  margin-bottom: 30px;
}

.scheduleItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  min-height: 44px;
  -webkit-transition: all ease-in-out 0.28s;
  -o-transition: all ease-in-out 0.28s;
  transition: all ease-in-out 0.28s;
  cursor: pointer;
}

.scheduleItem:hover {
  opacity: 0.7;
}

.scheduleItemWork,
.scheduleItem100,
.scheduleItemDayOff,
.scheduleItemHoliday,
.scheduleItemWorkHoliday,
.scheduleItemLeaveOnRequest,
.scheduleItemL4,
.scheduleItemBirthday {
  font-weight: 700;
  color: #333;
}

.scheduleItemWork {
  display: flex;
  flex-direction: column;
  background: rgb(34, 197, 94);
  color: #333;
}

.scheduleItem100 {
  display: flex;
  flex-direction: column;
  background: rgb(234, 179, 8);
}

.scheduleItem100::after {
  content: "100%";
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
}

.scheduleItemDayOff {
  display: flex;
  flex-direction: column;
  background: rgb(239, 68, 68);
  color: #333;
}

.scheduleItemDayOff::after {
  content: "wolne";
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 500;
}

.scheduleItemHoliday {
  display: flex;
  flex-direction: column;
  background: rgb(249, 115, 22);
  color: #333;
}

.scheduleItemHoliday::after {
  content: "święto";
  text-align: center;
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
}

.scheduleItemWorkHoliday {
  display: flex;
  flex-direction: column;
  background: rgb(59, 130, 246);
}

.scheduleItemWorkHoliday::after {
  content: "urlop";
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 500;
}

.scheduleItemLeaveOnRequest {
  display: flex;
  flex-direction: column;
  background: rgb(80, 185, 235);
}

.scheduleItemLeaveOnRequest::after {
  content: "urlop na żądanie";
  text-align: center;
  font-size: 8px;
  line-height: 1.1;
  text-transform: uppercase;
}

.scheduleItemL4 {
  display: flex;
  flex-direction: column;
  color: #333;
  background: rgb(153, 153, 255);
}

.scheduleItemL4::after {
  content: "L4";
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
}

.scheduleItemBirthday {
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 120, 140);
}

.scheduleItemBirthday::after {
  content: "🎂";
  text-align: center;
}

.backshift {
  border: 3px dashed rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.addHours50::after {
  content: "50%";
  text-align: center;
  width: 100%;
  font-size: 9px;
  color: #333;
  background: rgb(253, 224, 71);
}

.addHours120::before {
  content: "120%";
  width: 100%;
  text-align: center;
  font-size: 9px;
  color: #333;
  background: rgb(255, 180, 80);
}

.higherPower {
  display: flex;
  flex-direction: column;
  background: rgb(168, 85, 247);
  color: #333;
}

.higherPower::after {
  content: "siła wyższa";
  text-align: center;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 1.2;
  padding-bottom: 2px;
}

.scheduleItemEvening::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.statisticsBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.statusDay {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 12px;
  font-weight: 400;
}

.statusDay th {
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  padding: 5px;
}

.statusDay td {
  border: 1px solid #d1d5db;
}

.statusDay tr:nth-child(odd) {
  background-color: #ffffff;
  color: #333;
}

.statusDay tr:nth-child(even) {
  background-color: #f9fafb;
  color: #333;
}

.statusDay tr.allBlock {
  color: #333;
  font-weight: 600;
}

.allBlock td:first-child {
  text-transform: uppercase;
  font-size: 12px;
}

.fieldSalaryNetto {
  background-color: #f9fafb;
  font-weight: 600;
}

.tableUrlop {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 400;
}

.tableUrlop .tableUrlopTitle {
  color: #333;
  font-size: 12px;
}

.tableUrlop th {
  border: 1px solid #d1d5db;
  font-size: 10px;
  background-color: #f3f4f6;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  padding: 5px 5px;
}

.tableUrlop tr:nth-child(odd) {
  background-color: #ffffff;
}

.tableUrlop tr:nth-child(even) {
  background-color: #f9fafb;
}

.tableUrlop td {
  padding: 3px 5px;
  border: 1px solid #d1d5db;
}

.statusDay td {
  padding: 3px 15px;
}

.rateTable {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #333;
  font-size: 12px;
}

.rateTable tr:nth-child(odd) {
  background-color: #ffffff;
}

.rateTable tr:nth-child(even) {
  background-color: #f9fafb;
}

.rateTable td {
  padding: 3px 5px;
  border: 1px solid #d1d5db;
  min-width: 150px;
}

.rateTable th {
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-weight: 700;
}

.rateTable .editBoard,
.rateTable .taxBoard,
.rateTable .hospitalBoard,
.rateTable .holidayBoard,
.editHolidayDays,
.editPremium {
  position: relative;
  padding: 0;
  text-align: center;
}

.editHolidayDays,
.editPremium {
  text-align: left;
}

.rateSpan::before,
.taxSpan::before,
.hospitalSpan::before,
.holidaySpan::before,
.holidayDaysSpan::before,
.editPremiumSpan::before {
  content: "🖊";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  transform: rotate(110deg);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
}

.holidayDaysSpan::before {
  content: "🖋";
  position: absolute;
  right: 1px;
  top: 50%;
  -webkit-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  transform: rotate(110deg);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
}

.rateSpan::after,
.editPremiumSpan::after {
  content: " zł.";
}

.holidayDaysSpan::after {
  content: " дн.";
  font-size: 12px;
}

.taxSpan::after,
.hospitalSpan::after,
.holidaySpan::after {
  content: " %";
}

.rateInput,
.taxInput,
.hospitalInput,
.holidayInput,
.holidayDaysInput,
.editPremiumInput {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-size: 12px;
}

.holidayDaysInput,
.editPremiumInput {
  text-align: left;
  padding-left: 5px;
  font-size: 12px;
}

.editHolidayDays:has(input),
.editPremium:has(input) {
  padding: 0;
}

.currentDate {
}

.currentDate span {
  color: #fff;
}

.listItemsBlock {
  position: absolute;
  /* position: fixed; */
  /* overflow-y: auto; */
  z-index: 100;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  top: 0;
  padding: 70px 0;
  width: 100%;
  height: 100%;
  display: none;
}

.listItemsShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listItemsEvents {
  position: absolute;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.listItemsEvents td::first-letter {
  text-transform: uppercase;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  -webkit-transition: all ease-in-out 0.28s;
  -o-transition: all ease-in-out 0.28s;
  transition: all ease-in-out 0.28s;
  cursor: pointer;
}

.btnClose:hover {
  cursor: pointer;
}

.listItemsEvents select {
  margin-left: 10px;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

.dayInfoTable {
  font-size: 13px;
  font-weight: 900;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  border-spacing: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dayInfoTable th {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  background: rgb(255, 255, 255);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
  padding: 6px 12px;
  border-radius: 6px;
}

.dayInfoTable tr {
  font-weight: 400;
  background-color: #ff99cc;
  color: #fff;
}

.dayInfoTable tr:nth-child(2) {
  background-color: #e85aa5;
  color: #fff;
}

.dayInfoTable tr:nth-child(3) {
  background-color: #d1478b;
  color: #fff;
}

.dayInfoTable td {
  padding: 0 5px;
  font-weight: bold;
  border-radius: 6px;
  padding: 8px 12px;
}

.dayInfoTable tr.salaryDay {
  background-color: #28a745;
  color: #fff;
}

#form {
  font-size: 14px;
  color: #444;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.formTitle {
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
}

.formTitleText {
  text-transform: uppercase;
}

.listItemsBlockOne {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.listItemsBlockTwo {
  padding-bottom: 25px;
}

.listItemsBlockOne,
.listItemsBlockTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.formBlockBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btnSubmit {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all ease-in-out 0.28s;
  -o-transition: all ease-in-out 0.28s;
  transition: all ease-in-out 0.28s;
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  text-align: center;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btnSubmit:hover {
  background-color: #0056b3;
}

.activeYear {
  text-align: center;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.activeMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px 10px 10px;
}

.btnLeft,
.btnRight {
  font-size: 20px;
  font-weight: 900;
  color: #333;
  -webkit-transition: all ease-in-out 0.28s;
  -o-transition: all ease-in-out 0.28s;
  transition: all ease-in-out 0.28s;
}

.btnLeft:hover,
.btnRight:hover {
  cursor: pointer;
  color: #333;
}

.monthItem {
  letter-spacing: 2px;
  font-size: 20px;
}

.nameDays {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.nameDay {
  background: #ddd;
  padding: 10px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.28s;
}

.blindBlock {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(252, 252, 252, 0.2);
}

.modalBlock {
  position: absolute;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  width: 250px;
  min-height: 100px;
  border-radius: 10px;
  padding: 10px;
  background: rgb(252, 252, 252);
  -webkit-box-shadow: -5px 5px 15px rgb(96, 93, 93);
  box-shadow: -5px 5px 15px rgb(96, 93, 93);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modalBtn {
  padding: 5px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
