*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-inline-size: 100%;
  block-size: auto;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  background: rgb(248, 90, 0);
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 10px;
}

.appTitle {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  font-weight: 500;
}

.schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  color: rgb(248, 90, 0);
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 30px;
}

.scheduleItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(248, 90, 0);
  border-radius: 5px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0.5);
  transition: all ease-in-out 0.28s;
  cursor: pointer;
}

.scheduleItem:hover {
  opacity: 0.7;
}

.scheduleItemWork,
.scheduleItem100,
.scheduleItemDayOff,
.scheduleItemHoliday,
.scheduleItemWorkHoliday,
.scheduleItemLeaveOnRequest,
.scheduleItemL4,
.scheduleItemBirthday {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.scheduleItemWork {
  background: rgb(255, 255, 255);
  color: rgb(248, 90, 0);
}

.scheduleItem100 {
  background: rgb(93 177 166);
}

.scheduleItemDayOff {
  background: rgb(248, 90, 0);
}

.scheduleItemHoliday {
  background: rgb(216, 112, 147);
}

.scheduleItemWorkHoliday {
  background: rgb(0, 86, 128);
}

.scheduleItemLeaveOnRequest {
  background: rgb(236, 13, 110);
}

.scheduleItemL4 {
  background: rgb(23, 3, 239);
}

.scheduleItemBirthday {
  background: rgb(255, 255, 0);
  color: rgb(12, 62, 235);
}

/* .scheduleItemEvening span {
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
} */

.scheduleItemEvening::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.statusDay {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
}

.statusDayItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.statusDayColorWorkDay,
.statusDayColor100,
.statusDayColorWeekend,
.statusDayColorHoliday,
.statusDayColorWorkHoliday,
.statusDayColorLeaveOnRequest,
.statusDayColorHospital,
.statusDayColorBirthday {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: 1px solid rgb(255, 255, 255);
}

.statusDayColorWorkDay {
  background: rgb(255, 255, 255);
}

.statusDayColor100 {
  background: rgb(93 177 166);
}

.statusDayColorWeekend {
  background: rgb(248, 90, 0);
}

.statusDayColorHoliday {
  background: rgb(216, 112, 147);
}

.statusDayColorWorkHoliday {
  background: rgb(0, 86, 128);
}

.statusDayColorLeaveOnRequest {
  background: rgb(236, 13, 110);
}

.statusDayColorHospital {
  background: rgb(23, 3, 239);
}

.statusDayColorBirthday {
  background: rgb(215, 239, 3);
}

.currentDate span {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  background: rgb(32 167 66);
  color: rgb(255 255 255);
  line-height: 1.2;
  text-align: center;
}

.scheduleItemDayEvent {
  /* background: rgb(246, 169, 15);
  color: rgb(255, 255, 255); */
}

.listItemsBlock {
  position: absolute;
  z-index: 100;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.listItemsShow {
  display: flex;
}

.listItemsEvents {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  border: 2px solid rgb(255, 255, 0);
  border-radius: 10px;
  padding: 50px 30px 20px 30px;
  background: rgb(255, 165, 0);
  font-size: 17px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transition: all ease-in-out 0.28s;
}

.btnClose:hover {
  cursor: pointer;
}

.listItemsEvents select {
  margin-left: 10px;
  border-radius: 5px;
  color: rgb(248, 90, 0);
  font-size: 14px;
  font-weight: 700;
}

.listItemsBlockOne {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 20px;
}

.listItemsBlockTwo {
  padding-bottom: 15px;
}

.listItemsBlockOne,
.listItemsBlockTwo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formBlockBtn {
  display: flex;
  justify-content: center;
}

.btnSubmit {
  min-width: 150px;
  min-height: 50px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  color: rgb(248, 90, 0);
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease-in-out 0.28s;
}

.btnSubmit:hover {
  cursor: pointer;
}

.listItemsEvents li {
  transition: all ease-in-out 0.28s;
}

.listItemsEvents li:hover {
  cursor: pointer;
  opacity: 0.2;
}

.listItems li {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(9, 108, 245);
}

.activeYear {
  text-align: center;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.activeMonth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px 10px 10px;
}

.btnLeft,
.btnRight {
  font-size: 20px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  transition: all ease-in-out 0.28s;
}

.btnLeft:hover,
.btnRight:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.monthItem {
  letter-spacing: 2px;
  font-size: 20px;
}

.nameDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 0 10px;
  text-align: center;
}

.nameDay {
  background: rgba(255, 255, 255, 0.8);
  color: rgb(248, 90, 0);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 5px;
}
