*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-inline-size: 100%;
  block-size: auto;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  background: rgb(244, 133, 38);
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 50px;
}

.appTitle {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  font-weight: 500;
}

.schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  color: rgb(244, 133, 38);
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 30px;
}

.scheduleItem {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid rgb(244, 133, 38);
  border-radius: 5px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0.5);
  transition: all ease-in-out 0.28s;
  cursor: pointer;
}

.scheduleItem:hover {
  opacity: 0.7;
}

.scheduleItemWork,
.scheduleItem100,
.scheduleItemDayOff,
.scheduleItemHoliday,
.scheduleItemWorkHoliday,
.scheduleItemLeaveOnRequest,
.scheduleItemL4,
.scheduleItemBirthday {
  border: 2px solid rgb(255, 255, 255);
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.scheduleItemWork {
  background: rgb(255, 255, 255);
  color: rgb(244, 133, 38);
}

.scheduleItem100 {
  background: rgb(176, 199, 227);
}

.scheduleItem100::before {
  content: "100%";
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.scheduleItemDayOff {
  background: rgb(244, 133, 38);
  color: rgb(255, 255, 255);
}

.scheduleItemDayOff::after {
  content: "wolne";
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 500;
}

.scheduleItemHoliday {
  background: rgb(244, 133, 38);
  color: rgb(255, 255, 255);
}

.scheduleItemHoliday::after {
  content: "wolne za święto";
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 8px;
  line-height: 1.2;
}

.scheduleItemWorkHoliday {
  background: rgb(191, 128, 183);
}

.scheduleItemWorkHoliday::after {
  content: "urlop";
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 500;
}

.scheduleItemLeaveOnRequest {
  background: rgb(90, 104, 179);
}

.scheduleItemLeaveOnRequest::after {
  content: "urlop na żądanie";
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 8px;
  line-height: 1.2;
}

.scheduleItemL4 {
  color: rgb(255, 255, 255);
  background: rgb(245, 124, 113);
}

.scheduleItemL4::after {
  content: "L4";
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.scheduleItemBirthday {
  background: rgb(101, 194, 150);
}

.scheduleItemBirthday::after {
  content: "🎂";
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}

.backshift {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
}

.addHours50::after {
  content: "50%";
  position: absolute;
  bottom: 12px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: rgb(255, 255, 255);
  background: rgb(191, 128, 183);
}

.addHours120::before {
  content: "120%";
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: rgb(255, 255, 255);
  background: rgb(191, 128, 183);
}

.higherPower {
  background: rgb(88, 196, 198);
  color: rgb(255, 255, 255);
}

.higherPower::after {
  content: "urlop siła wyższa";
  position: absolute;
  width: 100%;
  bottom: 2px;
  text-align: center;
  text-transform: none;
  font-size: 8px;
  line-height: 1.2;
}

.scheduleItemEvening::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.statisticsBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.statusDay {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}

.rateTable .editBoard {
  position: relative;
  padding: 0;
  text-align: center;
}

.rateSpan::before {
  content: "🖍";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: rotate(110deg);
  transform: translateY(-50%);
  font-size: 16px;
}

.rateSpan::after {
  content: " zł.";
}

.rateInput {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.toggleRate {
  display: inline-block;
  transform: rotate(110deg);
  font-size: 16px;
}

.statusDay th {
  background-color: rgb(104 227 227);
  color: rgb(16 52 242);
  text-transform: uppercase;
  padding: 5px;
}

.statusDay tr:nth-child(odd) {
  background: rgb(214, 238, 238);
  color: rgb(244, 133, 38);
}

.statusDay tr:nth-child(even) {
  background: rgb(32, 204, 135);
  color: rgb(214, 238, 238);
}

.statusDay tr.allBlock {
  background: rgb(4 73 116);
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.allBlock td:first-child {
  text-transform: uppercase;
  font-size: 12px;
}

.tableUrlop {
  font-size: 14px;
  font-weight: 500;
}

.tableUrlop .tableUrlopTitle {
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.tableUrlop td:first-child {
  background: rgb(90, 104, 179);
  color: rgb(231 238 246);
  font-size: 12px;
  font-weight: 300;
}

.tableUrlop th {
  font-size: 10px;
  color: rgb(231 238 246);
  text-transform: uppercase;
  padding: 5px 5px;
}

.tableUrlop th:not(.tableUrlop th:first-child) {
  background: rgb(200, 93, 93);
}

.tableUrlop tr {
  background: rgb(214, 238, 238);
}

.tableUrlop td {
  padding: 3px 5px;
}

.statusDay td {
  padding: 3px 15px;
}

.rateTable {
  align-self: center;
  color: rgb(214, 238, 238);
  font-size: 14px;
}

.rateTable tr:nth-child(odd) {
  background: rgb(184 87 149);
}

.rateTable tr:nth-child(even) {
  background: rgb(51, 169, 243);
}

.rateTable td {
  padding: 3px 5px;
  min-width: 150px;
}

.currentDate {
  border: 4px solid rgb(249, 4, 4);
}

.currentDate span {
  width: 20px;
  height: 20px;
  text-align: center;
}

.scheduleItemDayEvent {
  /* background: rgb(246, 169, 15);
  color: rgb(255, 255, 255); */
}

.listItemsBlock {
  position: absolute;
  z-index: 100;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  display: none;
}

.listItemsShow {
  display: flex;
}

.listItemsEvents {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  border: 2px solid rgb(255, 255, 0);
  border-radius: 10px;
  padding: 50px 30px 20px 30px;
  background: rgb(255, 165, 0);
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.listItemsEvents td::first-letter {
  text-transform: uppercase;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transition: all ease-in-out 0.28s;
}

.btnClose:hover {
  cursor: pointer;
}

.listItemsEvents select {
  margin-left: 10px;
  border-radius: 5px;
  color: rgb(244, 133, 38);
  font-size: 14px;
  font-weight: 700;
}

.dayInfoTable {
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
}

.dayInfoTable th {
  font-size: 16px;
  color: rgb(255, 99, 71);
  background: rgb(255, 255, 255);
  font-weight: 600;
  padding: 0 5px;
}

.dayInfoTable tr {
  background-color: rgb(236 40 158);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.dayInfoTable td {
  padding: 0 5px;
}

tr.salaryDay {
  background: rgb(63 228 103);
}

.formTitle {
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
  background: #fff;
}

.formTitleText {
  color: rgb(244, 133, 38);
  text-transform: uppercase;
}

.listItemsBlockOne {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.listItemsBlockTwo {
  padding-bottom: 15px;
}

.listItemsBlockOne,
.listItemsBlockTwo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formBlockBtn {
  display: flex;
  justify-content: center;
}

.btnSubmit {
  min-width: 150px;
  min-height: 50px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  color: rgb(244, 133, 38);
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease-in-out 0.28s;
}

.btnSubmit:hover {
  cursor: pointer;
}

.listItemsEvents li {
  transition: all ease-in-out 0.28s;
}

.listItemsEvents li:hover {
  cursor: pointer;
  opacity: 0.2;
}

.listItems li {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(9, 108, 245);
}

.activeYear {
  text-align: center;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.activeMonth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px 10px 10px;
}

.btnLeft,
.btnRight {
  font-size: 20px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  transition: all ease-in-out 0.28s;
}

.btnLeft:hover,
.btnRight:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.monthItem {
  letter-spacing: 2px;
  font-size: 20px;
}

.nameDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 0 10px;
  text-align: center;
}

.nameDay {
  background: rgba(255, 255, 255, 0.8);
  color: rgb(244, 133, 38);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 5px;
}
